{% extends 'base.html' %} {% load static %} {% block title %}About Us - Covid
Report {% endblock %} {% block content %}
<div class="min-height-200px">
  <div class="row justify-content-center">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
      <div class="pd-20 card-box height-100-p">
        <div class="profile-photo">
          <img
            src="{% static 'vendors/images/photo1.jpg' %}"
            alt=""
            class="avatar-photo"
          />
          <div
            class="modal fade"
            id="modal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="modalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body pd-5">
                  <div class="img-container">
                    <img
                      id="image"
                      src="vendors/images/photo2.jpg"
                      alt="Picture"
                    />
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="submit" value="Update" class="btn btn-primary" />
                  <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h5 class="text-center h5 mb-0">Isaac Benavides</h5>
        <p class="text-center text-muted font-14">CAR IV</p>
        <div class="profile-info">
          <h5 class="mb-20 h5 text-blue">Contact Information</h5>
          <ul>
            <li>
              <span>Email Address:</span>
              FerdinandMChilds@test.com
            </li>
            <li>
              <span>Phone Number:</span>
              619-229-0054
            </li>
            <li>
              <span>Country:</span>
              America
            </li>
            <li>
              <span>Address:</span>
              1807 Holden Street<br />
              San Diego, CA 92115
            </li>
          </ul>
        </div>
        <div class="profile-social">
          <h5 class="mb-20 h5 text-blue">Social Links</h5>
          <ul class="clearfix">
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#3b5998"
                data-color="#ffffff"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#1da1f2"
                data-color="#ffffff"
                ><i class="fa fa-twitter"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#007bb5"
                data-color="#ffffff"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#f46f30"
                data-color="#ffffff"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#c32361"
                data-color="#ffffff"
                ><i class="fa fa-dribbble"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#3d464d"
                data-color="#ffffff"
                ><i class="fa fa-dropbox"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#db4437"
                data-color="#ffffff"
                ><i class="fa fa-google-plus"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#bd081c"
                data-color="#ffffff"
                ><i class="fa fa-pinterest-p"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#00aff0"
                data-color="#ffffff"
                ><i class="fa fa-skype"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#00b489"
                data-color="#ffffff"
                ><i class="fa fa-vine"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="profile-skills">
          <h5 class="mb-20 h5 text-blue">Key Skills</h5>
          <h6 class="mb-5 font-14">HTML</h6>
          <div class="progress mb-20" style="height: 6px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 90%"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <h6 class="mb-5 font-14">Css</h6>
          <div class="progress mb-20" style="height: 6px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <h6 class="mb-5 font-14">jQuery</h6>
          <div class="progress mb-20" style="height: 6px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 60%"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <h6 class="mb-5 font-14">Bootstrap</h6>
          <div class="progress mb-20" style="height: 6px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 80%"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
      <div class="pd-20 card-box height-100-p">
        <div class="profile-photo">
          <img
            src="{% static 'vendors/images/photo1.jpg' %}"
            alt=""
            class="avatar-photo"
          />
          <div
            class="modal fade"
            id="modal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="modalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body pd-5">
                  <div class="img-container">
                    <img
                      id="image"
                      src="vendors/images/photo2.jpg"
                      alt="Picture"
                    />
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="submit" value="Update" class="btn btn-primary" />
                  <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h5 class="text-center h5 mb-0">Juan Pablo Lara Angulo</h5>
        <p class="text-center text-muted font-14">CAR IV</p>
        <div class="profile-info">
          <h5 class="mb-20 h5 text-blue">Contact Information</h5>
          <ul>
            <li>
              <span>Email Address:</span>
              jlara@lsv-tech.com
            </li>
            <li>
              <span>Phone Number:</span>
              619-229-0054
            </li>
            <li>
              <span>Country:</span>
              America
            </li>
            <li>
              <span>Address:</span>
              1807 Holden Street<br />
              San Diego, CA 92115
            </li>
          </ul>
        </div>
        <div class="profile-social">
          <h5 class="mb-20 h5 text-blue">Social Links</h5>
          <ul class="clearfix">
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#3b5998"
                data-color="#ffffff"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#1da1f2"
                data-color="#ffffff"
                ><i class="fa fa-twitter"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#007bb5"
                data-color="#ffffff"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#f46f30"
                data-color="#ffffff"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#c32361"
                data-color="#ffffff"
                ><i class="fa fa-dribbble"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#3d464d"
                data-color="#ffffff"
                ><i class="fa fa-dropbox"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#db4437"
                data-color="#ffffff"
                ><i class="fa fa-google-plus"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#bd081c"
                data-color="#ffffff"
                ><i class="fa fa-pinterest-p"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#00aff0"
                data-color="#ffffff"
                ><i class="fa fa-skype"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="btn"
                data-bgcolor="#00b489"
                data-color="#ffffff"
                ><i class="fa fa-vine"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="profile-skills">
          <h5 class="mb-20 h5 text-blue">Key Skills</h5>
          <h6 class="mb-5 font-14">HTML</h6>
          <div class="progress mb-20" style="height: 6px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 90%"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <h6 class="mb-5 font-14">Css</h6>
          <div class="progress mb-20" style="height: 6px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 70%"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <h6 class="mb-5 font-14">jQuery</h6>
          <div class="progress mb-20" style="height: 6px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 60%"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <h6 class="mb-5 font-14">Bootstrap</h6>
          <div class="progress mb-20" style="height: 6px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 80%"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
