{% extends 'base.html' %} {% load static %} {% block title %}Update - Covid
Report {% endblock %} {% block content %}
<div class="min-height-200px">
  <div class="form-row justify-content-center">
    <div class="form-group col-md-6">
      <form class="form" method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="button" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
